.card{
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(315deg, rgba(51, 123, 190, 0.20) 0%, rgba(51, 123, 190, 0.00) 100%), rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(24px);
}